<?xml version="1.0" encoding="utf-8"?>
<Multiplexer Name="Multi1&lt;/Name&gt;" BroadcastFreq="20Hz&lt;/BroadcastFreq&gt;" Channel="6&lt;/Channel&gt;" Signal="50Hz&lt;/Signal&gt;" Reciever="25Hz&lt;/Reciever&gt;">
<Channel Number="126&lt;/Number&gt;" Name="CBS&lt;/Name&gt;" type="Sci-Fi&lt;/Type&gt;" Programme="StarTrekTOS&lt;/Programme&gt;" Format="SD&lt;/Format&gt;">
<Person Name="William Shatner&lt;/Name&gt;" Part="&lt;xs:complexType name=&quot;partType &lt;xs:sequence&gt; &lt;xs:element name=&quot;Kirk&quot; type=&quot;nameType &lt;xs:element name=&quot;Captain&quot; type=&quot;characterType&quot; minOccurs=&quot;0&quot; maxOccurs=&quot;5&quot;&lt;/xs:sequence&gt; &lt;/xs:complexType&gt;" DOB="22-03-1931&lt;/DOB&gt;" Role="Actor&lt;/Role&gt;" />
</Channel>
</Multiplexer>
